pandas=2.2.3
numpy=1.25.2
matplotlib=3.10.3
seaborn=0.13.2
scipy=1.15.2
mne=1.9.0
mne-icalabel=0.7.0
scikit-learn=1.6.1
pytorch=2.7.1
braindecode=0.8.1
plotly
lightgbm=4.6.0
torchmetrics=1.7.3
antropy=0.1.9
